footer {

	@extend %inline-list;
	background-color: $head-foot-color;
	color: $head-foot-text-color;
	margin-top: 40px;
	padding-top: 20px;

}

footer .row.social-dock {

	padding: 3px;

}

footer .row.social-bottom {

	margin-top: 3px;
	margin-left: 20px;


}

footer .social-icon {

	@extend %inline-list;
	
	float: left;
	line-height: 30px;
	margin-left: 40px;
	font-size: .8em;

	/*background-color: $nav-text-color;
	width: 32px;
	height: 32px;*/

	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;

	a {

		display: block;
		padding: 0;
		background-color: $head-foot-color; 

		border-radius: 200px 200px 200px 200px;
		-moz-border-radius: 200px 200px 200px 200px;
		-webkit-border-radius: 200px 200px 200px 200px;
		border: 0px solid #000000;


		@include transition(color, 100ms, ease-in);

		&:hover {
			background-color: #fff;
		}
	}

}

footer .foot-text {

	font-size: .7em;
	float: right;

}