

.h1.head-text {

	text-align: center;
	margin: auto;
	margin-bottom: 10px;

}

.about-image {

	width: 250px;
	height: 250px;

	margin: auto;
	margin-bottom: 60px;

	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;

	background: url(../../assets/img/home/me-small.jpg) no-repeat;

	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

}

.social-icon {

	display: inline-block;
	margin: auto;
	margin-top: 100px;
	margin-left: 80px;

	a {

		display: block;
		padding: 0;

		border-radius: 200px 200px 200px 200px;
		-moz-border-radius: 200px 200px 200px 200px;
		-webkit-border-radius: 200px 200px 200px 200px;
		border: 0px solid #000000;


		@include transition(color, 100ms, ease-in);

		&:hover {
			background-color: #96A0C7;
		}
	}

}
	