.player {
   height: $player-height;
   width: $player-width;
   background-color: #1E2125;
   @include unselectable();
   margin: auto;
   margin-bottom: 50px;
   position: relative;
   top: 200px;
   left: 150px;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
}

.widget {

   margin-bottom: 100px;

}
