
// Global Variables

$color: #C4C4C4;
$text-color: #000207;
$font-family: "Droid Sans Mono", sans-serif;
$font-size: 100%;
$line-height: 150%;


// LINKS

$link-color: #660FA5;
$link-weight: 600;


// NAV

$nav-link-color: #C5CDD2;
$nav-text-color: #C5CDD2;
$nav-color: #0E111F;
$nav-select-color: #C5CDD2;
$nav-select-text-color: #020C33;


// HEADER & FOOTER

$head-foot-color: #020C33;
$head-foot-text-color: #C5CDD2;

// PLAYER
$player-height: 190px;
$player-width: 430px;


